<form
  novalidate
  [formGroup]="form"
  style="margin: 60px"
  (ngSubmit)="Onsubmit()"
>
  <div class="row">
    <div class="form-group col-lg-6">
      <label for="Nombre">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="Nombre"
        placeholder="Nombre videojuego"
        formControlName="nombre"
      />
    </div>
    <div class="form-group col-lg-6">
      <label for="Plataforma">Plataforma</label>
      <input
        type="text"
        class="form-control"
        id="Plataforma"
        placeholder="Plataforma del videojuego"
        formControlName="plataforma"
      />
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="form-group col-lg-6">
      <label for="inputGenero">Genero</label>
      <input
        type="text"
        class="form-control"
        id="inputGenero"
        placeholder="Genero del videojuego"
        formControlName="genero"
      />
    </div>
    <div class="form-group col-lg-6">
      <label for="inputDesarrollador">Desarrollador</label>
      <input
        type="text"
        class="form-control"
        id="inputDesarrollador"
        placeholder="Desarrollador del videojuego"
        formControlName="desarrollador"
      />
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="form-group col-lg-6">
      <label for="inputAño">Año de lanzamiento</label>
      <input
        type="number"
        class="form-control"
        id="inputAño"
        formControlName="año"
      />
    </div>
    <div class="form-group col-lg-2">
      <label for="inputVentas">Ventas en millones en el mundo</label>
      <input
        type="number"
        class="form-control"
        id="inputVentas"
        formControlName="ventas"
      />
    </div>
    <div class="form-group col-lg-2">
      <label for="inputRanting">Ranting</label>
      <input
        type="text"
        class="form-control"
        id="inputRanting"
        formControlName="rating"
      />
    </div>
    <div class="form-group col-lg-2">
      <label for="inputImagen ">Imagen</label>
      <input
        type="file"
        class="form-control"
        id="inputImagen"
        accept=".png, .jpg"
        (change)="mostrar($event)"
      />
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="form-group col-lg-2">
      <input type="reset" class="form-control" (click)="clear()" />
    </div>
  </div>
  <div class="row">
    >
    <button
      type="submit"
      style="margin-top: 25px"
      class="btn btn-primary col-lg-2"
      [disabled]="form.invalid"
    >
      Crear videojuego
    </button>
  </div>

  <img
    [src]="imageUrl"
    alt="Preview"
    *ngIf="imageUrl"
    style="margin-top: 30px; max-height: 300px; width: auto; margin-left: 50%"
  />
</form>
