<div class="row">
  <div class="row col-lg-12">
    <div
      class="alert alert-danger d-flex align-items-start"
      role="alert"
      style="position: fixed; z-index: 100"
      *ngIf="viewDelete"
    >
      <svg
        class="bi flex-shrink-0 me-2"
        width="24"
        height="24"
        role="img"
        aria-label="Danger:"
      >
        <use xlink:href="#exclamation-triangle-fill" />
      </svg>
      <div>Se a eliminado un videojuego</div>
    </div>
    <div>
      <div class="d-flex col-lg-4 m-3" role="search">
        <input
          #valueSearch
          class="form-control"
          type="search"
          placeholder="Buscar"
          id="search"
          aria-label="Search"
          (keydown)="enter($event, valueSearch.value)"
        />
        <button
          class="btn btn-outline-success"
          style="margin-left: 10px"
          (click)="search(valueSearch.value)"
        >
          Buscar
        </button>
      </div>
    </div>
    <div>
      <app-dropdown-page
        [numero]="numeroDocPagina"
        (numeroTamanio)="changeSize($event)"
      ></app-dropdown-page>
    </div>
    <div
      *ngFor="let videogame of videogameList"
      class="card"
      style="width: 18rem; margin: 20px; z-index: 0"
    >
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="delete(videogame)"
      ></button>
      <img
        [src]="videogame.url"
        class="card-img-top"
        alt=""
        style="width: auto; max-height: 300px"
      />

      <div class="card-body">
        <h5 class="card-title">{{ videogame.name }}</h5>

        <p class="card-text">{{ videogame.developer }}</p>

        <a class="btn btn-primary" routerLink="/videogame/{{ videogame.id }}"
          >Ver más detalles</a
        >
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <app-page-buttons
        [documentosTotales]="numeroTotalDoc"
        [medidaPagina]="numeroDocPagina"
        (OnClick)="paginaSeleccionada($event)"
        [paginaActual]="paginaActual"
      ></app-page-buttons>
    </div>

    <div
      *ngIf="!visible()"
      class="d-flex justify-content-center"
      style="margin-top: 200px"
    >
      <div *ngIf="viewLoader" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div *ngIf="!viewLoader && !error" class="d-flex justify-content-center">
        <h1>No hay existencias del producto</h1>
      </div>

      <div *ngIf="error && !viewLoader" class="d-flex justify-content-center">
        <div>
          <h1>PRODUCTOS NO DISPONIBLES</h1>
          <h2>INTENTE MÁS TARDE :(</h2>
        </div>
      </div>
    </div>
  </div>
</div>
