<header></header>

<nav class="navbar nav-pills navbar-expand-lg bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="./../assets/logo_youtube-1-960x640.jpg"
      alt="Logo"
      style="max-height: 100px; width: auto"
      class=""
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-center"
    id="navbarSupportedContent"
  >
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/" aria-current="page">Home</a>
      </li>
      <li class="nav-item ms-3">
        <a class="nav-link active" routerLink="create/videogame"
          >Crear videojuego</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Deshabilitado</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
