<div class="float-end">
  <h6>Cantidad de videojuegos por pagina</h6>
  <div class="d-flex justify-content-center">
    <div class="col-4">
      <select
        class="form-select form-select-sm"
        aria-label=".form-select-sm example"
        [value]="numero"
        (change)="cambiarCantidad($event)"
      >
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
      </select>
    </div>
  </div>
</div>
